@import '../../style/resource.scss';
.product-container {
  border-radius: 8px;
  cursor: pointer;

  & .product-card {
    display: flex;
    font-family: $font-family-sans-serif;
    padding: $spacer-3 $spacer-2;
    color: $zenni-primary-color;

    &_icon {
      padding: 0;
      margin-right: $spacer-2;
      width: 60px;

      & > img {
        width: 60px;
        height: 60px;
      }
    }

    &_promo {
      color: $pink;
      font-size: 0.875rem;
      line-height: 22px;
      margin-bottom: $spacer-1;
      letter-spacing: 0.005em;
    }

    &_brand {
      color: $gray-dark;
      font-weight: 900;
      font-size: 1rem;
      line-height: 24px;
      margin-bottom: $spacer-1;
      letter-spacing: 0.01rem;
    }

    &_header {
      display: flex;
      align-items: center;
      margin: $spacer-0;

      & .header-title {
        font-weight: 700;
        margin: $spacer-0 $spacer-2 $spacer-0 $spacer-0;
        flex-grow: 1;
        font-size: 1rem;
        line-height: 24px;
        letter-spacing: 0.01rem;
      }

      & .header-price {
        margin-right: $spacer-3;
        color: $gray-dark;
        align-items: center;
        align-self: flex-start;
        display: flex;
        font-size: 1rem;
        gap: $spacer-1;

        &_value {
          font-weight: 700;
        }

        &_icon {
          font-weight: 900;
        }
      }

      & .header-icon {
        align-self: flex-start;
        font-size: 1.125rem;
        font-weight: 900;
      }

      & .success-icon {
        color: $success;
      }
    }

    &_text {
      font-size: 1rem;
      color: $gray-dark;
      margin-bottom: $spacer-0;
      line-height: 24px;
      letter-spacing: 0.005em;
    }
  }
}
