/* color */
.color-swatch-black {
  background-color: #000;
}

.color-swatch-cream {
  background: #ead9bd;
}

.color-swatch-tamber {
  background-color: #87431e;
}

.color-swatch-pink {
  background-color: pink;
}

.color-swatch-purple {
  background: purple;
}

.color-swatch-tgray {
  background-color: #6c6f70;
}

.color-swatch-tpink {
  background-color: #f54e96;
}

.color-swatch-white {
  background-color: #fff;
  border: 0.25px solid #666666;
}

.color-swatch-yellow {
  background-color: #ff0;
}

.color-swatch-red {
  background-color: red;
}

.color-swatch-gray {
  background-color: gray;
}

.color-swatch-tpurple {
  background-color: #ac27a9;
}

.color-swatch-blue {
  background-color: #00f;
}

.color-swatch-silver {
  background-color: #eee;
}

.color-swatch-brown {
  background: #630;
}

.color-swatch-tblue {
  background-color: #0039a6;
}

.color-swatch-tortoiseshell {
  background-color: tan;
  background-image: linear-gradient(
    to right,
    #321e03,
    #321e03 15%,
    #f09605 40%,
    #f09605 60%,
    #321e03 85%
  );
}

.color-swatch-gold {
  background: gold;
}

.color-swatch-rose-gold {
  background-color: #b76e79;
}

.color-swatch-tyellow {
  background-color: #f6ec5a;
}

.color-swatch-wood-texture {
  background-color: #deb887;
}

.color-swatch-pattern {
  background-color: #a9a9a9;
  background-image: repeating-linear-gradient(45deg, #fff, #fff 2px, #000 2px, #000 4px);
}

.color-swatch-amber {
  background-color: brown;
}

.color-swatch-multicolor {
  background-color: orange;
  background: linear-gradient(to right, red, orange, #ff0, green, #0ff, #00f, violet);
}

.color-swatch-translucent {
  background-color: #f8f8ff;
  border: 0.25px solid #666666;
}

.color-swatch-grey {
  background-color: grey;
}

.color-swatch-green {
  background: green;
}

.color-swatch-orange {
  background: orange;
}

.color-swatch-tgreen {
  background-color: #006c56;
}

.color-swatch-teal {
  background-color: #007b8f;
}
