@import '../../style/resource';

.carousel {
  .carousel-indicators {
    display: none;
    flex-direction: column;
    margin: 0 0 $spacer-3 5% !important;
    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }
  .carousel-indicators > button {
    width: 8px;
    height: 8px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 0;
  }
  .carousel-caption {
    top: 0;
    left: $spacer-3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    text-align: left;
    @include media-breakpoint-up(sm) {
      left: 8%;
      width: 42%;
    }
  }
}
