@import '../../style/resource';

.nav {
  .nav-item {
    padding: 0;

    .nav-link {
      padding: $spacer-2 ($spacer * 0.6);
      color: $primary;
    }

    &.nav-group-title {
      .nav-link {
        color: $gray-dark;
        font-weight: 900;
      }
    }

    + .nav-group-separator {
      .nav-link {
        margin: 22px 0;
        padding: 0;
        border-top: 1px solid $gray;
      }
    }
  }

  :not(.nav-group-title) {
    + .nav-item {
      .first-group-link {
        margin-top: $spacer-4;
      }
    }
  }

  &.flex-column {
    .nav-item {
      &.nav-group-title {
        margin-bottom: $spacer * 0.35;
      }

      .nav-link {
        padding: 0 0 $spacer-1;

        &.active {
          color: $gray-darkest;
          cursor: default;
        }
      }

      :not(span) {
        &.nav-link {
          margin-bottom: $spacer-1;
        }
        &:hover {
          text-decoration: underline;
        }
      }

      + .nav-group-title {
        margin-top: $spacer-4;
      }
    }
  }
}
